:root {
    --white-color: #fff;
    --black-color: #000;
    --hover-color: #ccc;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

/* Header */
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 46.5px;
    background-color: #000;
    font-family: 'Lato', sans-serif;
}

/* Navbar */
.nav {
    display: flex;
    list-style-type: none;
    height: 100%;
}

.nav__item {
    line-height: 46.5px;
    position: relative;
}

.nav__item--link {
    display: block;
    padding: 0 24px;
    color: var(--white-color);
    text-decoration: none;
    position: relative;
}

.nav__item--arrow-down {
    border: solid var(--white-color);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
    top: calc(50% - 4px);
    margin-left: 4px;
}

.nav__item:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

.nav__item:hover .nav__item--link {
    color: var(--black-color);
}

.nav__item:hover .nav__item--arrow-down {
    border: solid var(--black-color);
    border-width: 0 2px 2px 0;
}

/* Sub navbar */
.subnav {
    min-width: 160px;
    list-style-type: none;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2),
        0 4px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    left: 0;
    display: none;
    background-color: var(--white-color);
}

.nav__item--have-subnav {
    padding-right: 12px;
}

.nav__item--have-subnav:hover .subnav {
    display: block;
}

.subnav__item {
    padding: 8px 16px;
    line-height: 1.4;
}

.subnav__item:hover {
    background-color: var(--hover-color);
}

/* Search button */
.nav__item--search {
    padding: 0 24px;
    position: absolute;
    right: 0;
}

.nav__item--search:hover {
    background-color: #f44336;
}

.search__icon {
    color: var(--white-color);
}

/* Slider */
.slider {
    position: relative;
    padding-top: 50%;
    margin-top: 46.5px;
}

.slider__text-content {
    position: absolute;
    top: 72.5%;
    left: 50%;
    transform: translateX(-50%);
}

.slider__text-heading {
    color: var(--white-color);
    font-size: 24px;
    font-family: 'Segoe UI', Arial, sans-serif;
    font-weight: 500;
    text-align: center;
}

.slider__text-description {
    color: var(--white-color);
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    display: block;
    margin: 15px 0;
}

/* Content */
#content {
    display: flex;
    justify-content: center;
}

#band {
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 16px;
}

#band .heading {
    letter-spacing: 4px;
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin: 10px 0;
}

#band .slogan {
    opacity: 0.6;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    margin: 15px 0;
}

#band .para {
    text-align: justify;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 1.4;
    margin: 15px 0;
}

#band .members {
    display: flex;
    margin: 32px 0;
}

.member {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.member__name {
    margin: 15px 0;
}

.member__img {
    width: 60%;
}
